{% extends '::base.html.twig' %}


{# menu #}
{% block nav %}
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ path('home') }}">Accueil</a>
                <ul class="nav navbar-nav">
                    <li><a href="{{ path('login') }}">Connexion</a></li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block header %}
    <div class="page-header">
        <h1>Mon blog <small>future alternante en développement web</small></h1>
    </div>
{% endblock %}